@{
    ViewBag.Title = "提交成功";
    ViewBag.currentPage = "方案高手";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Help/savesuccess.css" rel="stylesheet" />
<div class="wrap-success">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">成为方案高手</h2>
        </div>
        <div class="sendques">
            <div class="success-img"><i class="iconfont">&#xe633</i></div>
            <h3>您已成功提交资料，我们已经在努力审核中，请耐心等待哦！</h3>
            <a class="perfect_data" href="/account/person">为了让自己更有声望，赶紧去完善自己的资料吧！</a>
            <p class="back-my-plan"><a href="/plan/myplan" class="university-btn back-wenda">返回方案高手首页</a></p>
            <p>
                <a href="/account/person" class="myques">查看我的方案</a>
            </p>
        </div>
    </div>
</div>
