.quesdetail .ques-label {
    width: initial;
}

.quesdetail .question-area {
    margin-left: 75px;
}

.col-right {
    width: initial;
}

.con-left {
    width: 860px;
}

.quesdetail .editor-wrap {
    margin-left: 75px;
}
