.newest-content:hover {
    color: #78CA99;
    text-decoration: underline;
}

.panel .remind {
    height: 40px;
    line-height: 39px;
    border-top: 1px solid #d0d6d9;
    position: relative;
    background-color: #edf1f2;
    color: #787d82;
    padding: 0px 20px;
}

.department-rank .love:hover {
    color: #78CA99;
}

.love i {
    margin-right: 3px;
    font-size: 14px;
    position: relative;
    bottom: 1px;
}

.department-rank em {
    font-size: 12px;
    margin-right: 9px;
    position: relative;
    bottom: 1px;
}

.time {
    margin-top: 5px;
    margin-left: 27px;
}

    .time span {
        font-size: 12px;
        color: #c8cdd2;
    }

#add-experience {
    position: absolute;
}

    #add-experience span {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
        text-align: center;
        cursor: pointer;
        background-color: #e5e5e5;
        border-radius: 3px;
        color: #14191e;
    }

.department-rank a {
    color: #666;
}

.thank-superior {
    padding: 0px 20px;
}

.write-box {
    margin-top: 20px;
}

    .write-box input, .write-box textarea {
        width: 100%;
        box-sizing: border-box;
    }

.login-header {
    padding: 15px 0px 0px 0px;
    border-bottom: 1px solid #e5e5e5;
}
    .login-header img {
        height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
    }
    .login-header h4 {
        color: #78ca99;
        border-bottom: initial;
        height: 60px;
        font-size: 16px;
    }

.btn-thank {
    padding-top: 20px;
}

#login {
    padding: 0px 20px 30px 20px;
    margin: -210px 0 0 -210px;
}
