.panel-heading h4 {
    font-size: 16px;
    margin: -10px 0px 15px 0px;
}

    .panel-heading h4 i {
        font-size: 25px;
        color: #78CA99;
        margin-right: 10px;
        padding: 10px;
    }

        .panel-heading h4 i:hover {
            background: #f8f8f8;
            border-radius: 5px;
            cursor: pointer;
        }
.wenda-list {
    border-bottom: 1px solid #edf1f2;
    margin-top:0px;
}
.wenda-list .wenda-listcon {
    border:initial;
}

    .wenda-list .wendaslider {
        margin-left:80px;
        min-height: 73px;
    }

.wenda-time {
    float:left;
}
.cheer-reply {
    color: #c8cdd2;
}
.cheer-reply:hover {
    color:#78CA99;
}
.cheer-reply i {
    margin-right: 5px;
}
.reply {
      border-top: 1px solid #edf1f2;
      border-bottom:none;
}