@{
    ViewBag.Title = "您的问题已经提交成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Help/savesuccess.css" rel="stylesheet" />
<div class="col-right">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">问题发布成功</h2>
        </div>
        <div class="sendques">
            <div class="success-img"><i class="iconfont">&#xe633</i></div>
            <h3>您的问题已经提交成功!</h3>
            <p>请耐心等待，肯定会有很多热心的同学回答你的问题</p>
            <p>为鼓励好答案，请为他们点赞并设置成功答案（仅限提问）</p>
            <p><a href="/help/index" class="university-btn back-wenda">返回问答</a></p>
            <p>
            </p>
            <p>
                <a href="#" class="myques">查看我提的问题</a>
            </p>
            <p>
            </p>
        </div>
    </div>
</div>
