<!--计划加油监督弹出窗体-->
<div id="cheer">
    <div class="login-header">
        <i class="iconfont" onclick="offcheer();">&#xe630</i>
    </div>
    <div class="tip-title">为TA加油成功！</div>
    <p class="say-what">向您想加油的同学说点啥吧！给TA一点鼓励</p>
    <div class="cheer-footer">
        <input type="text" class="cheer-write" value="加油！相信你一定能成功。" onkeydown="javascript:if(event.keyCode == 13) cheerByBeatEnter();" />
        <a class="university-btn cheer-btn">提交</a><i class="iconfont i-success">&#xe664</i>
    </div>
</div>
<div id="surpervice">
     <div class="login-header">
        <i class="iconfont" onclick="offsupervice();">&#xe630</i>
    </div>
    <div class="tip-title">监督TA成功！</div>
    <p class="success-info">你已经成为TA的计划监督人啦！每天你可以根据TA打卡日志知道TA是否做了计划哦！</p>
     <div class="cheer-footer">
        <a class="university-btn back-plan">返回计划</a>
        <a class="look-all-surpervice">查看该计划的全部监督人</a>
    </div>
</div>