@{
    ViewBag.Title = "发现";
    ViewBag.currentPage = "发现";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/discover/index.css" rel="stylesheet" />
<!--发现主题-->
@*<div class="discver-theme clearfix">
    <div class="theme-wrap clearfix">
        <a href="/plan/index" class="theme-item">
            <img src="~/image/planSuperice.png" />
            <div class="title">
                <h4>计划监督</h4>
                <p>从此，坚持是一件很简单的事情</p>
            </div>
            <div class="go">GO</div>
        </a>
        <div class="bias">
            <img src="~/image/bias.png" />
        </div>
        <a class="theme-item item-second">
            <img src="~/image/happySchool.png" />
            <div class="title">
                <h4>快乐校园</h4>
                <p>从此，参加讲座等活动不再是寂寞，精彩大学活动一个不放过</p>
            </div>
            <div class="go">GO</div>
        </a>
    </div>
</div>*@
<!--动态和积分榜-->
@*<div class="integral-dynamic">
    <div class="id-wrap">
        <div class="title clearfix">
            <h4>最新动态</h4>
            <h4>积分榜</h4>
        </div>
        <div class="clearfix">
            <div class="newest">
                <div class="item-box">
                    <a class="book-user-img">
                        <img src="~/image/pite.jpg" />
                    </a>
                    <span class="interval action">预订了</span>
                    <a class="interval content">倪教授的关于深入了解安卓的讲座</a>
                    <span class="interval time">1分钟前</span>
                </div>
                <div class="item-box">
                    <a class="book-user-img">
                        <img src="~/image/pite.jpg" />
                    </a>
                    <span class="interval action">制定计划</span>
                    <a class="interval content">我每天都要学习8个小时...</a>
                    <span class="interval time">1分钟前</span>
                </div>
                <div class="item-box">
                    <a class="book-user-img">
                        <img src="~/image/tttt.PNG" />
                    </a>
                    <span class="interval action">预订了</span>
                    <a class="interval content">倪教授的关于深入了解安卓的讲座</a>
                    <span class="interval time">1分钟前</span>
                </div>
                <div class="item-box">
                    <a class="book-user-img">
                        <img src="~/image/pite.jpg" />
                    </a>
                    <span class="interval action">预订了</span>
                    <a class="interval content">倪教授的关于深入了解安卓的讲座</a>
                    <span class="interval time">1分钟前</span>
                </div>
                <div class="item-box">
                    <a class="book-user-img">
                        <img src="~/image/tt.PNG" />
                    </a>
                    <span class="interval action">预订了</span>
                    <a class="interval content">倪教授的关于深入了解安卓的讲座</a>
                    <span class="interval time">1分钟前</span>
                </div>
            </div>
            <div class="integral">
                <div class="integral-item">
                    <div class="header">
                        <h4>今天</h4>
                        <span class="remain-second">还剩10时12分30秒</span>
                    </div>
                    <div class="integral-ranking">
                        <span class="rank-nums">1.</span>
                        <a class="rank-user">
                            <img src="~/image/tt.PNG" />
                            <span>eusheng</span>
                        </a>
                        <span class="num">+87</span>
                    </div>
                    <div class="integral-ranking">
                        <span class="rank-nums">2.</span>
                        <a class="rank-user">
                            <img src="~/image/tttt.PNG" />
                            <span>小小可人</span>
                        </a>
                        <span class="num">+3</span>
                    </div>
                </div>
                <div class="integral-item">
                    <div class="header">
                        <h4>综合</h4>
                        <span class="remain-second">活跃度+声望</span>
                    </div>
                    <div class="integral-ranking">
                        <span class="rank-nums">1.</span>
                        <a class="rank-user">
                            <img src="~/image/tt.PNG" />
                            <span>eusheng</span>
                        </a>
                        <span class="arrow">
                            <i class="iconfont">&#xe68c</i>
                        </span>
                        <span class="k">27k</span>
                    </div>
                    <div class="integral-ranking">
                        <span class="rank-nums">2.</span>
                        <a class="rank-user">
                            <img src="~/image/pite.jpg" />
                            <span>pite</span>
                        </a>
                        <span class="arrow">
                            <i class="iconfont">&#xe68c</i>
                        </span>
                        <span class="k">7k</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>*@
